body {
    display: flex;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 0 10px;
    color: blue;
    border: green solid 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    margin: 0 10px;
    color: purple;
    border: red solid 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    margin: 0 10px;
    color: blue;
    border: yellow solid 10px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
  }